<% layout("../layouts/boilerplate") %>

<body>
    <style>
        
    </style>
    <div class="filters">
        <div class="filter">
            <a href="/listings">
                <i class="fa-solid fa-location-arrow"></i>
                <p class="filter-para">All Listings</p>
            </a>
        </div>
        
        <div class="filter">
            <a href="/listings/filter/Trending">
                <i class="fa-solid fa-square-poll-vertical"></i>
                <p class="filter-para">Trending</p>
            </a>
        </div>
        <div class="filter"><a href="/listings/filter/Arctic">
            <i class="fa-regular fa-snowflake"></i>
            <p class="filter-para">Arctic</p>
        </a>
        </div>
        <div class="filter"><a href="/listings/filter/Amazing-pools">
            <i class="fa-solid fa-person-swimming"></i>
            <p class="filter-para">Amazing pools</p></a>
        </div>
        <div class="filter"><a href="/listings/filter/Amazing-views">
            <i class="fa-solid fa-street-view"></i>
            <p class="filter-para">Amazing views</p></a>
        </div>
        <div class="filter"><a href="/listings/filter/Surfing">
            <i class="fa-solid fa-person-snowboarding"></i>            
            <p class="filter-para">Surfing</p></a>
        </div>
        <div class="filter"><a href="/listings/filter/Islands">
            <i class="fa-solid fa-mountain-sun"></i>            
            <p class="filter-para">Islands</p></a>
        </div>
        <div class="filter"><a href="/listings/filter/Lakefront">
            <i class="fa-solid fa-water"></i>            
            <p class="filter-para">Lakefront</p></a>
        </div>
        <div class="filter"><a href="/listings/filter/Beachfront">
            <i class="fa-solid fa-umbrella-beach"></i>            
            <p class="filter-para">Beachfront</p></a>
        </div>
        <div class="filter"><a href="/listings/filter/Cabins">
            <i class="fa-solid fa-house-user"></i>            
            <p class="filter-para">Cabins</p></a>
        </div>
        <div class="filter"><a href="/listings/filter/OMG!">
            <i class="fa-solid fa-fan"></i>            
            <p class="filter-para">OMG!</p></a>
        </div>
        <div class="filter"><a href="/listings/filter/Countryside">
            <i class="fa-solid fa-earth-asia"></i>            
            <p class="filter-para">Countryside</p></a>
        </div>
        <div class="tax-toggle">
            <div class="form-check form-switch form-check-reverse">
                <input type="checkbox" role="switch" class="form-check-input " id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display Price after Taxes</label>
            </div>
        </div>
    </div>

        <% if(data.length == 0){ %>
        
                <div class="alert alert-success alert-dismissible fade show col-8 offset-2" role="alert">
                    Will be Available shortly!!!.... 
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
                </div>
            
        <% } %>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-2 mt-3 mb-3 row-cols-xsm-2">
        <%for (listing of data){ %>
            <a href="/listings/<%= listing._id %>" >
                <div class="card ind-card mb-3 col" >
                    <img src="<%= listing.image.url %>" class="card-img-top" style="height: 18rem; " alt="<%= listing.image.filename %>">
                    <div class="card-img-overlay"></div>
                    <div class="card-body">
                        <h5 class="card-title"><b><%= listing.title %></b></h5>
                        <p class="card-text">Price: &#8377; <%= listing.price.toLocaleString("en-IN") %> /night <span class="gst">&nbsp; &nbsp;+ 18 % GST</span></p>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
    <script>

        //Toggle switch
        let toggleSwitch = document.getElementById("flexSwitchCheckDefault");
        let gst = document.getElementsByClassName("gst")
        toggleSwitch.addEventListener("click", () => {
            for (const info of gst) {
                if(info.style.display != "inline"){
                    info.style.display = 'inline';
                }else{
                    info.style.display = "none";
                }
            }
        })
    </script>
</body>
