<% layout("../layouts/boilerplate") %>
<body>
<script>
    const mapToken = "<%= process.env.MAP_TOKEN %>";
    const coordinates = <%- JSON.stringify(listing.geometry.coordinates) %>;
</script>
    <div class="row">
        <div class="col-8 card-full offset-2">
            <div class="col mb-3 mt-3">
                <h3>Listing Details : </h3><br>
            </div>
            <div style="border-radius: 2rem !important;" class="card card-listing border-dark mb-3"  >
                <div class="row g-0">
                    <div class="col-5 card-col">
                        
                        <img style="padding: .5rem !important;" src="<%= listing.image.url %>" alt="<%= listing.image.filename %>" class="card-img-top img-fluid rounded" >
                    </div>
                    <div class="col card-col">
                        <div class="card-body">
                            <h5 class="card-title mb-3"><%= listing.title %></h5>
                            <p class="card-text "><%= listing.description %></p>
                            <p class="card-text "><%= listing.location %> , <span class="country"><%= listing.country %></span></p>
                            <p class="card-text "> &#8377; <%= listing.price.toLocaleString("en-IN") %>/ night</p>
                            <p class="card-text mb-3"><i> ~ By <%= listing.owner.username %> </i> </p>
                            <% if ( curUser && curUser._id.equals(listing.owner._id)) { %>
                                <div class="row card-row-btn">
                                    <div class="col-5 card-col-btn">
                                        <form action="/listings/<%= listing._id %>/edit"><button class="btn btn-dark">Edit Listing</button></form>
                                    </div>
                                    <div class="col-7 card-col-btn">
                                        <form method="post" action="/listings/<%= listing._id %>?_method=DELETE"><button class="btn btn-dark">Delete Listing</button></form>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    <% if(curUser) { %>
    <hr><br>
    <div class="col-8 offset-2 mb-3 mt-3">
        <form method="post" novalidate class="needs-validation" action="/listings/<%= listing._id %>/reviews">
            <h3 class="form-label mb-3 mt-3">Leave a Review</h3>
            <div class="mb-3 mt-3">
                <label for="rating" class="form-label">Rating : </label>
                <fieldset class="starability-growRotate">
                    <legend class="form-legend"></legend>
                    <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked aria-label="No rating." />
                    <input type="radio" id="first-rate1" name="rating" value="1" />
                    <label for="first-rate1" title="Terrible">1 star</label>
                    <input type="radio" id="first-rate2" name="rating" value="2" />
                    <label for="first-rate2" title="Not good">2 stars</label>
                    <input type="radio" id="first-rate3" name="rating" value="3" />
                    <label for="first-rate3" title="Average">3 stars</label>
                    <input type="radio" id="first-rate4" name="rating" value="4" />
                    <label for="first-rate4" title="Very good">4 stars</label>
                    <input type="radio" id="first-rate5" name="rating" value="5" />
                    <label for="first-rate5" title="Amazing">5 stars</label>
                  </fieldset>
                <div class="invalid-feedback">Enter a valid rating eg. 5  </div>
            </div>
            <div class="mb-3 mt-3">
                <label class="form-label" for="comment">Comment : </label>
                <textarea class="form-control" required name="comment" id="" cols="30" placeholder="Enter a Comment ........" rows="5"></textarea>
                <div class="invalid-feedback">Enter a comment ......</div>
            </div>
            <div class="mb-3 mt-3">
                <button class="btn btn-outline-dark">Post Review</button>
            </div>
        </form>
    </div>
    <% } %>
    <% if(listing.reviews.length !== 0) { %>
        
        <div class="col-8 offset-2"><br><hr><br>
            <h3>All Reviews : </h3>
            <div class="row">
                <% for(review of listing.reviews) { %>
                <div class="card col-5 ms-3 mb-3 mt-3">
                    <div class="card-body">
                        <h5 class="card-title">@<%= review.author.username || "Anonymous" %></h5>
                        <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
                        <p class="card-text"> <%= review.comment %></p>
                        <% if ( curUser && curUser._id.equals(review.author._id)) { %>
                        <form class="mb-3 mt-3" method="post" action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
                            <button class="btn btn-dark btn-sm">Delete Review</button>
                        </form>
                        <% } %>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    <% } %>
    <div class="col-8 offset-2 mt-3 mb-3 " > <hr><br>
        <h4 class="mb-3 mt-3">Where You'll be</h4><br>
        <div id="map"></div>
    </div><br><br>

    <script src="/js/map.js"></script>

</body>


